{
  "secret"  : "secret",
  "http_port"  : 8000,
  "message_lifetime"  : 30000,
  "token"  : "",
  "prefix" : ":",
  "queue_limit" : -1,
  "firebase": {
    "apiKey": "",
    "authDomain": "",
    "databaseURL": "",
    "projectId": "",
    "storageBucket": ""
  }
}